{% extends 'admin.html.twig' %}
{% block title %}Éditer un véhicule{% endblock %}

{% block body %}
    <h1>Éditer un véhicule</h1>

    <div class="card">
        <div class="card-body">
            {{ include('vehicule/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('app_vehicule_index') }}">Tous les véhicule</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
